<nav class="navbar bg-success border-bottom">

    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="#">
        <img
          src="https://i.pinimg.com/736x/72/0a/28/720a28f8467acf20316bf0885126a1b8.jpg"
          alt="logo"
          width="50"
          height="30"
          class="d-inline-block align-text-top"
        />
        Ejercitacion
      </a>
      <p class="mb-0">Hoy es: {{ dateActual | date : "short" }}</p>
    </div>


</nav>
