
<div class="container-fluid">
    <div class="row">
      <aside class="col-md-2 order-md-1 border-end fillScreen">
        <!-- Contenido Aside -->
        <h2>Proyectos</h2>
        <p>{{nombreProyecto}}</p>
        <li><a routerLink="/formularioLosSimpsons">Ir a formulario</a></li>
      </aside>

      <main class="col-md-10 order-md-2 fillScreen">
        <!-- Contenido principal -->
        <h1>{{nombreProyecto}}</h1>
        <section>
          <router-outlet></router-outlet>
           
        </section>
      </main>
    </div>
  </div>
