<body class="container">

    <section class="container d-flex justify-content-around">
        <div class="card m-5" style="width: 18rem;">
            <img src="../../../assets/img/pngtruck640_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proveedores</h5>
              <p class="card-text">Listado de Proovedores.<br> Agregar, Modificar o Baja de un proveedor.</p>
              <a href="proveedores.html" class="btn btn-primary">Ir a Proovedores</a>
            </div>
          </div>
          <div class="card m-5" style="width: 18rem;">
            <img  src="../../../assets/img/productoimg2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Productos/Servicios</h5>
              <p class="card-text"> Listado de Productos.<br> Agregar, Modificar o Baja de un producto.</p>
              <a href="productos.html" class="btn btn-primary">Ir a Productos/Servicios</a>
            </div>
          </div>
          <div class="card m-5" style="width: 18rem;">
            <img src="../../../assets/img/compra.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ordenes de Compra</h5>
              <p class="card-text">Listado de Ordenes.<br> Agregar, Modificar o Baja de una orden.</p>
              <a href="#" class="btn btn-primary">Ir a Ordenes de compra</a>
            </div>
          </div>
          
          
    </section>
    <section class="mb-5 container d-flex justify-content-center">
      <div><iframe class="m-2" style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"></iframe></div>
      <div><iframe class="m-2" style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-bancos-y-casas-de-cambio" frameborder="0"></iframe></div>
              
          
    </section>
    
  </body>
